.search {
  &-container {
    width: 100vw;
    height: 60px;
    background: #323a45;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 4;
  }
  &-form {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
  }
  &-input {
    margin-left: 30px;
    padding: 10px;
    width: 300px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    outline: none;
    border: none;
  }
  &-btn {
    outline: none;
    border: none;
    background: blue;
    padding: 10px;
    border-left: 1px solid #000;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: white;
    font-weight: 700;
    transition-duration: 0.5s;
    cursor: pointer;

    &:hover {
      color: blue;
      background: white;
      border: 1px solid blue;
    }
  }
}
.logo {
  margin-left: -90px;
  color: burlywood;
  font-weight: 700;
  cursor: pointer;
  text-decoration: none;
}
