@use "../../../scss" as *;

.search-form {
  z-index: 10;
  left: 25rem;
  top: -0.5rem;
  position: fixed;
  margin-left: 2em;
  input[type="text"] {
    border: none;
    border-radius: 15px;
    width: 570px;
    height: 50px;
    opacity: 0.9;
    background: map-get($pallet, primary3);
    color: map-get($pallet, primary1);
    font-family: $chilanka;
    font-weight: 300;
    font-size: 25px;
    text-align: center;
    &::placeholder {
      text-transform: uppercase;
      position: relative;
      top: 0.1em;
      color: map-get($pallet, primary1);
    }
  }
  .search-btn {
    position: relative;
    top: 1.15em;
    right: 4.6em;
    border-radius: 15px;
    width: 62px;
    height: 50px;
    opacity: 0.8;
    background: map-get($pallet, primary2);
    border: none;
    color: map-get($pallet, primary3);
    transition: all 0.5s ease-in-out;
    cursor: pointer;
    &:hover {
      filter: brightness(70%);
    }
    mat-icon {
      width: 62px;
      height: 50px;
      font-size: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
