<div class="hero">
    <div class="hero-bg"></div>
    <div class="hero-content">
        <div class="hero-title-con">
            <div class="hero-title-text">
                vi
            </div>
            <div class="hero-title">
                deo
            </div>
            <div class="hero-title-text">
                ga
            </div>
            <div class="hero-title">
                mes
            </div>
        </div>
        <a href="games">
            <button class="hero-btn">look in</button>
        </a>
    </div>
</div>
<div class="pop-games">
    <h2 class="pop-title">popular games</h2>
    <div class="pop-games-cards-con">
        <app-game-card [game]="game" *ngFor="let game of games | slice:0:4"></app-game-card>
    </div>
</div>