@use "../../../scss" as *;

.game {
  &-tabs {
    background: map-get($pallet, secondary);
    color: map-get($pallet, accent);
    text-align: left;

    &-tab {
      padding: 2em;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      gap: 1em;
    }
    &-par {
      font-size: 18px;
      line-height: 22px;
      &-title {
        margin-bottom: 10px;
        color: map-get($pallet, primary1);
        font-family: $cinzel;
        font-style: normal;
        font-weight: normal;
        font-size: 22px;
        text-transform: capitalize;
      }
    }
    &-link {
      color: map-get($pallet, accent);
    }

    ::ng-deep .mat-tab-labels {
      justify-content: center;
    }
  }

  &-votes {
    display: flex;
    gap: 0.5em;
    &-up {
      color: map-get($pallet, accent);
    }
    &-down {
      color: map-get($pallet, accent);
    }

    &-count {
      margin-left: 5px;
      margin-right: 10px;
      vertical-align: super;
    }
  }
  &-screenshots {
    align-items: center;
  }
  &-screenshot {
    margin-top: 5px;
    width: calc(50% - 10px);

    &:nth-child(even) {
      margin-left: 10px;
    }
  }

  &-trailer {
    width: 100%;
    margin: 20px 0;
  }
}
